body {
    text-align: center;
}

h1 {
  font-family: "raleway";
  color:#0d2c40;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}
a {
  font-family: "raleway";
  color: #f15b31;
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
}
a:hover{
  border-color: white;
}

p {
  font-family: "raleway";
  color:#0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}
h2{
    font-family: "raleway";
    color:#0d2c40;
    font-weight: 400;
    font-size: 30px;

}

h3{
    font-family: "raleway";
    color:#0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;

}

header {
  background-color: #f15b31;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

nav {
  background-color: #00a6b3;
  padding-top: 20px;
  padding-bottom: 20px;
}

main{
  width: 850px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}
footer{
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0d2c40;

  font-size: 14px;
  letter-spacing: .08em;
  font-weight: 500;
}
.copyright{
  float: left;
  color: white;
}
.message{
  float: right;
  color: white;
}
.clearfix::after{
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #f15b31;
  font-weight: 700;
}
